.loremdiv {
  display: flex;
  justify-content: space-around;
  background-color: black;
  margin: auto;
  height: 32px;
}
.loremtext1 {
  color: red;
}
.loremtext2 {
  color: red;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.logocontainer {
  display: flex;
  gap: 24px;
  top: 46px;
}
.logo {
  font-weight: 800;
  font-size: 36px;
  margin-top: -10px;
}
.navbar {
  width: 600px;
  height: 24px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 50px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  margin: auto;
}

.mobile-menu-icon {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
/* Container for the about section */
.aboutdiv {
  width: 700px;
  height: 168px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Heading style */
.about {
  font-family: "Simplon Norm", sans-serif;
  font-size: 50px;
  margin: 0;
}

/* Paragraph style */
p {
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
  width: 75%;
}

@media only screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  .img-logo {
    width: 19.89px;
    height: 19.91px;
    margin-top: 7px;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
  }

  .navbar ul.nav-links-mobile {
    display: flex;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon {
    display: block;
  }
}

@media only screen and (max-width: 650px) {
  .mainContainer {
    width: 100%;
  }
  .loremtext1 {
    display: none;
  }
  .loremtext2 {
    color: red;
    font-size: 14px;
  }
  .container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  .img-logo {
    width: 19.89px;
    height: 19.91px;
  }
  .logocontainer {
    display: flex;
    gap: 10px;
    margin-top: 2px;
  }
  .selectCon {
    display: none;
  }
  .aboutdiv {
    width: 100%;
  }

  .logo {
    font-weight: 800;
    font-size: 20px;
    margin-top: 0px;
  }
  .about {
    font-size: 24px;
  }
  .about-text {
    width: 90%;
    font-size: 14px;
  }
  .navbar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
  }

  .navbar ul.nav-links-mobile {
    display: flex;
  }

  .mobile-menu-icon {
    display: block;
  }
}
